/* BEGIN RESET ********************* */
*{box-sizing:border-box;}
:root{overflow-y:scroll;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box;font:62.5%/1.5 sans-serif;text-rendering:optimizeLegibility;-webkit-overflow-scrolling:touch;}
html{height:100%;position:relative;}
body{-ms-overflow-style:scrollbar;background-color:#f3f3f3;color:#333333;font-family:'Avenir-Light';font-size:1.6rem;line-height:2rem;margin:0;position:relative;width:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-stretch: condensed;}
code,kbd,pre,samp,h1,h2,h3,h4,h5,p,blockquote,figure,ol,ul{margin:0;padding:0;}
fieldset{padding:0;margin:0;border:0;}
:focus{outline:none;}
a:focus{/*outline:thin dotted #191919;*/}
sub,sup{font-size:66%;line-height:0;position:relative;vertical-align:top;}
sup{top:.75em;display:inline-block;}.btn sup{top:-0.25em;}
sub{bottom:-0.25em;}
img{max-width:100%;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
.img-no-rwd{max-width:inherit!important;}
svg{height:auto;max-width:100%;display:inline-block;}
.responsive-img{width:100%;height:auto;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
::-moz-focus-inner{padding:0;border:0;}
button,html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;-moz-appearance:button;appearance:button;cursor:pointer;}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"]{cursor:pointer;}
input[type=search]{-webkit-appearance:textfield;}
input[type=search]:-webkit-search-cancel-button,
input[type=search]:-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;resize:none;}
select{-moz-appearance:none;-webkit-appearance:none;}
[aria-busy=true]{cursor:progress;}
[aria-controls]{cursor:pointer;}
small{font-size:1.6rem;}
.container{margin:0 auto;padding:0;}
legend{padding:0;}
ul{list-style:none;}
a,.link{color:#007E48;text-decoration:none;}
a:hover,
a:focus,
.link:hover,
.link:focus{text-decoration:underline;}
.centeredContainer{max-width:1440px;margin:auto;}
.smallCenteredContainer{max-width:1024px;margin:auto;}
hr,.hr-or{display:block;height:1px;margin:15px 0;border:none;background-repeat:repeat-x;background-color:#666666;position:relative;}
hr.dark{background-color:#666666;}
hr.lite{background-color:#cccccc;}
.hr-or:before{background-color:#fff;color:#666;content:" OR ";display:block;font-size:1.4rem;font-family:'Roboto-Medium';height:16px;left:50%;line-height:1.6rem;margin-left:-15px;margin-top:-8px;position:absolute;text-align:center;top:50%;width:30px;z-index:1111;}
hr.hr-dotted.dark{background-color:transparent;background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewport%3D%220%200%201%201%22%20style%3D%22width%3A100%25%3B%20height%3A1px%3B%22%3E%3Cstyle%3Eline%7Bstroke%3Argba(153%2C153%2C153%2C1)%3Bstroke-width%3A2%3B%7D%3C%2Fstyle%3E%3Cline%20y2%3D%221%22%20y1%3D%221%22%20x1%3D%221%22%20x2%3D%22100%25%22%20stroke-dasharray%3D%221%2C%203%22%2F%3E%3C%2Fsvg%3E");background-position:bottom;background-repeat:repeat-x;background-size:4px 1px;width:100%;}
hr.hr-dotted.lite{background-color:transparent;background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewport%3D%220%200%201%201%22%20style%3D%22width%3A100%25%3B%20height%3A1px%3B%22%3E%3Cstyle%3Eline%7Bstroke%3Argba(204%2C204%2C204%2C1)%3Bstroke-width%3A2%3B%7D%3C%2Fstyle%3E%3Cline%20y2%3D%221%22%20y1%3D%221%22%20x1%3D%221%22%20x2%3D%22100%25%22%20stroke-dasharray%3D%221%2C%203%22%2F%3E%3C%2Fsvg%3E");}
hr.is-vertical{border:0px;background-color:#ededed;display:inline-block;height:auto;margin:0 15px;min-height:20px;width:1px;}
.videoWrap{width:100%;padding-bottom:57%;position:relative;}
.videoWrap video{width:100%;}
.videoWrap iframe{width:100%;height:100%;position:absolute;border:0px;}
.colorGreen{color:#007E48!important;;}.bgGreen{background:#007E48!important;;}
.colorYellow{color:#F9B233!important;;}.bgYellow{background:#F9B233!important;;}
.colorRed{color:#C22A3F!important;;}.bgRed{background:#C22A3F!important;;}
@media (max-width:768px){.hideXs{display:none!important;}}
/* END CSS RESET ***************************** */
.clear{clear:both;}
.indeterminateSpace{padding-left:20px;}
/* Begin Widths ******************** */
.span1{width:6.96517412935323%;}.span2{width:15.4228855721393%;}.span3{width:23.88059701492537%;}.span4{width:32.33830845771144%;}.span5{width:40.79601990049751%;}.span6{width:49.25373134328358%;}.span7{width:57.71144278606965%;}.span8{width:66.16915422885572%;}.span9{width:74.62686567164179%;}.span10{width:83.08457711442786%;}.span11{width:91.54228855721393%;}.span12{width:100%;}
/* Begin Typography ******************** */
h1,
h2,
h3,
h4,
h5,
h6,
.AL20,
.AL22,
.FR20,
.FR22,
.FR25,
.FR30,
.FR35,
.FR40{font-weight:normal;text-rendering:optimizeLegibility;margin:0;line-height:1.2;}
.FR20,
.FR22,
.FR25,
.FR30,
.FR35,
.FR40{font-family:'Frutiger-Roman';padding:5px 0px;}
.AL20,
.FR20{font-size:2.0rem;}
.FR22,
.AL22{font-size:2.2rem;}
.FR25{font-size:2.5rem;}
.FR30{font-size:3.0rem;}
.FR35{font-size:3.5rem;}
.FR40{font-size:4.0rem;}
@media (max-width:768px){
h1,
h2,
h3,
h4,
h5,
h6,
.AL20,
.FR25,
.AL22{font-size:2rem;}
.FR30{font-size:2.2rem;}
.FR35{font-size:2.4rem;}
.FR40{font-size:2.6rem;}
}
p{margin:0 0 15px 0;line-height:2rem;}
.p-large{font-size:1.8rem;line-height:2.4rem;}
.p-small{font-size:1.4rem;line-height:1.6rem;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.text-center{text-align:center!important;}
.text-justified{text-align:justify!important;}
.close:before,
.checkbox input:checked + .skin:after,
.checkbox input.indeterminate + .skin:after{color:#999;display:inline-block;font-family:'Font Awesome 5 Free'!important;font-style:normal;font-size:20px;font-weight:900;font-variant:normal;height:1em;margin-right:7px;text-transform:none;line-height:1;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.004);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:none;position:relative;speak:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;width:1em;}
.close:before{content:"\f00d";}
.checkbox input:checked + .skin:after{content:"\f00c";}
.checkbox input.indeterminate + .skin:after{content:"\f068";font-size:16px;width:18px;height:18px;text-align:center;}
/* Begin Grid ********************* */
.grid{}
.grid>div{float:left;}
.grid-s{margin-top:-10px;margin-left:-10px;}
.grid-m{margin-top:-20px;margin-left:-20px;}
.grid-l{margin-top:-40px;margin-left:-40px;}
.grid-s>div{padding-top:10px;padding-left:10px;}
.grid-m>div{padding-top:20px;padding-left:20px;}
.grid-l>div{padding-top:40px;padding-left:40px;}
.break-grid-1>div,
.break-grid-2>div,
.break-grid-3>div,
.break-grid-4>div,
.break-grid-5>div,
.break-grid-6>div,
.break-grid--6-4>div,
.break-grid--7-3>div,
.break-grid--4-6>div,
.break-grid--3-7>div{width:100%;}
.grid:after,.grid:before{content:"";display:table;width:100%;}
.grid:after{clear:both;}
.always3Col>div{width:33.33%;}
@media (min-width:769px){
.break-grid-2>div{width:50%;}
.break-grid-3>div{width:33.33%;}
.break-grid-4>div{width:50%;}
.break-grid-6>div{width:33.33%;}
.break-grid--6-4>div:first-child,.break-grid--4-6>div:last-child{width:60%;}.break-grid--6-4>div:last-child,.break-grid--4-6>div:first-child{width:40%;}
.break-grid--7-3>div:first-child,.break-grid--3-7>div:last-child{width:70%;}.break-grid--7-3>div:last-child,.break-grid--3-7>div:first-child{width:30%;}
}
@media (min-width:1181px){
.break-grid-4>div{width:25%;}
.break-grid-5>div{width:20%;}
.break-grid-6>div{width:16.66%;}
}
.row,
.row-nowrap{display:-ms-flexbox;display:flex;margin-left:0;width:100%;}
.row:after{clear:both;content:"";display:table;}
.row:after{clear:both;content:"";display:table;}
.row > [class*="span"]{float:left;margin-right:15px;}
.row > [class*="span"]:last-child{margin-right:0;}
.row > [class*="span"].centered{margin-left:auto!important;margin-right:auto!important;}
.row.no-flex{display:block;}
.row.no-flex > [class*="span"]{margin-right:1.49253731343284%;}
.row.no-flex > [class*="span"]:last-child{margin-right:0;}
.row.flex-justify{-ms-flex-pack:justify;justify-content:space-between;}
.row.flex-justify > [class*="span"]{-ms-flex:1 1 0px;flex:1 1 0;}
.row.flex-justify > .flex-col{margin-right:15px;}
.row.flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
.row > [class*="span"]{padding:0px 4%;position:relative;}
.row > .span + hr.is-vertical{margin:0 0 0 -16px;}
@media (min-width:1025px){
.row > [class*="span"]{margin-right:20px;margin-right:1.487301587301587%\9;}
}
@media (max-width:768px){
.row > [class*="span"]{float:none;margin-left:0;margin-right:0;width:100%;padding:0px;}
.row{display:block;}
.row.flex > .flex-col{margin-right:0;}
.row > .span + hr.is-vertical{min-height:1px;height:1px;width:100%;margin:30px 0;display:block;}
}
/* Begin Form Controls ******************** */
select,
textarea,
input:not(.btn),
input[type="search"]{color:#333333;display:inline-block;font-size:1.6rem;margin:0;padding:0 15px 0 15px;vertical-align:middle;border-radius:0px;}
select:last-child,
textarea:last-child,
input:not(.btn):last-child,
input[type="search"]:last-child{margin-right:0;}
input:not(.btn){height:35px;padding:3px 8px 2px 8px;}
input:not(.btn)::-webkit-input-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
input:not(.btn):-moz-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;opacity:1;}
input:not(.btn)::-moz-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style: italic;opacity:1;}
input:not(.btn):-ms-input-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
input:not(.btn):placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
.isIOS input:not(.btn)::-webkit-input-placeholder{line-height:1.6;}
.isIOS input:not(.btn)::-moz-placeholder{line-height:1.6;}
.isIOS input:not(.btn):-ms-input-placeholder{line-height:1.6;}
.isIOS input:not(.btn)::placeholder{line-height:1.6;}
_:-webkit-full-screen:not(:root:root),
input:not(.btn)::-webkit-input-placeholder{line-height:1.5;}
_:-webkit-full-screen:not(:root:root),
input:not(.btn)::placeholder{line-height:1.5;}
input[disabled]::-webkit-input-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
input[disabled]:-moz-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;opacity:1;}
input[disabled]::-moz-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;opacity:1;}
input[disabled]:-ms-input-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
input[disabled]:placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
input[type="search"]{padding-right:40px;border:none;text-overflow:ellipsis;-webkit-appearance:none!important;-moz-appearance:none!important;appearance:none!important;}
input[type="search"].input-emphasized{padding-right:45px;}
input[type="search"]:focus{z-index:1000;border:none;}
input[type="search"]::-webkit-search-cancel-button{display:none!important;}
input[type="search"]::-ms-clear{display:none!important;}
textarea{display:block;width:100%;max-width:100%;padding:5px 8px;}
textarea + .reset-field{display:none;}
textarea::-webkit-input-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
textarea:-moz-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;opacity:1;}
textarea::-moz-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;opacity:1;}
textarea:-ms-input-placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
textarea:placeholder{color:#666666;font-family:'Frutiger-Light-Italic';font-style:italic;}
textarea[rows="1"]{min-height:35px!important;}
textarea[rows="1"].small{min-height:35px!important;}
textarea[rows="2"]{min-height:60px!important;}
textarea[rows="2"].small{min-height:55px!important;}
textarea[rows="3"]{min-height:85px!important;}
textarea[rows="3"].small{min-height:75px!important;}
textarea[rows="4"]{min-height:110px!important;}
textarea[rows="4"].small{min-height:95px!important;}
textarea[rows="5"]{min-height:135px!important;}
textarea[rows="5"].small{min-height:115px!important;}
textarea[rows="6"]{min-height:160px!important;}
textarea[rows="6"].small{min-height:135px!important;}
/* textarea,
input{background-color:#ffffff;border:1px solid #cccccc;transition:border .3s linear 0s;font-family:'Frutiger-Roman';box-shadow:2px 3px 2px -2px rgba(0, 0, 0, 0.08) inset;} */
textarea:focus,
input:focus{outline:0;border-color:#999999;}
.ds2_touchevents input:focus:not(.btn){padding-right:45px;}
label + .field-group,
label + .input-append,
label + .row,
label + .row-nowrap,
label + .form-row{margin-top:8px;}
input:invalid,
textarea:invalid,
select:invalid{outline:none!important;}
.form-row{margin-top:20px;}
.form-row.midmar{margin-top:10px;}
.form-row.nomar{margin:0;}
.row-nowrap.no-flex.form-row > label + br{margin-bottom:5px;}
span.form-row{display:inline-block;}
legend + .form-row{margin-top:20px;}
.form-row.inline + .form-row.inline{margin-left:20px;}
.field-group{position:relative;display:block;}
.field-group input:not([type="button"])[disabled]{padding-right:15px;}
.form-inline input,
.form-inline textarea,
.form-inline select{display:inline-block;vertical-align:middle;}
.form-inline label,
.form-inline .btn{display:inline-block;}
.form-inline label + .btn{margin-left:6px;}
.checkbox,
.radio{position:relative;min-height:24px;font-family:'Avenir-Light';font-size:1.6rem;margin-bottom:10px;}
.form-row .checkbox,
.form-row .radio{display:-ms-inline-flexbox;display:inline-flex;line-height:2rem;margin-bottom:10px;}
.checkbox.inline,
.radio.inline{display:inline-block;margin-bottom:10px;vertical-align:middle;margin-right:10px;}
.checkbox.inline :last-child,
.radio.inline :last-child{margin-right:0;}
.checkbox input,
.radio input{-webkit-tap-highlight-color:transparent;height:20px;margin:0px;padding:0px;opacity:0;outline:none;position:absolute;left:0px;top:0px;width:20px;z-index:1;}
.checkbox .skin,
.radio .skin{background-color:#fff;border:1px solid #ccc;display:inline-block;height:20px;left:0;position:absolute;margin-right:10px;top:0;width:20px;float:left;}
.checkbox span,
.radio span{display:inline-block;margin-top:0;margin-left:30px;position:relative;top:1px;}
.checkbox input:focus + .skin,
.radio input:focus + .skin{border-color:#999;}
.checkbox input[data-focus-method="KEY"]:focus + .skin:before,
.radio input[data-focus-method="KEY"]:focus + .skin:before{content:"";height:34px;left:-6px;top:-6px;outline:1px dotted #191919;position:absolute;width:34px;}
.checkbox label,
.radio label{font-size:1.4rem;font-family:'Avenir-Light';}
.radio-group-label{margin:0;}
.inline-radio-group-label{margin-bottom:20px;}
.radio input + .skin{border-radius:100%;box-shadow:0 0 0 3px transparent inset;}
.radio input:checked + .skin{background-color:#333;box-shadow:0 0 0 3px white inset;}
.checkbox-group-label{margin:0;}
.inline-checkbox-group-label{margin-bottom:20px;}
.checkbox input:checked:not(:disabled) + .skin{background-color:#999;border-color:#999;}
.checkbox input:checked:disabled + .skin:after{color:#5a5a5a;}
.checkbox input:checked + .skin:after{height:19px;width:19px;background-color:transparent;font-size:14px;text-align:center;line-height:14px;color:#fff;}
.isFirefox .checkbox input:checked + .skin:after{line-height:22px;}
.checkbox input:disabled + .skin,
.radio input:disabled + .skin{background-color:#d2d2d2;border-color:#d2d2d2;cursor:not-allowed;}
.radio input:checked:disabled + .skin{background-color:#5a5a5a;box-shadow:0 0 0 3px #d2d2d2 inset;}
.checkbox input:disabled + .skin + span,
.radio input:disabled + .skin + span{color:#5a5a5a;cursor:not-allowed;}
.radio input:disabled:checked + .skin:after{background-color:#5a5a5a;border-color:#d2d2d2;}
.btn-search{background-color:#F9B233;border:none;height:35px;margin-left:0;margin-top:0;min-width:40px!important;padding:0!important;position:absolute;right:0px;top:0px;line-height:0;width:40px;}
.btn-search > i[class*="fa-"]{color:#ffffff;font-size:2.2rem;top:0;}
.btn-search:hover > i[class*="fa-"],
.btn-search:focus > i[class*="fa-"],
.btn-search:active > i[class*="fa-"]{color:#000;}
_:-webkit-full-screen:not(:root:root),
input[type="search"]{padding-left:5px!important;}
.ds2_touchevents .field-group input[type="search"]:focus{padding-right:45px;}
.ds2_touchevents .field-group input[type="search"].input-emphasized:focus{padding-right:90px;}
.ds2_touchevents .field-group input[type="search"]:focus ~ .reset-field,
.ds2_touchevents .field-group input[type="search"] ~ .reset-field:focus{display:block;}
_:-webkit-full-screen:not(:root:root),
input[type="search"].input-emphasized{padding-left:10px!important;}
.input-emphasized ~ .btn-search[class*="btn"]{height:46px;top:2px;margin-bottom:0;border-radius:0px;}
input[type="search"].input-emphasized ~ .reset-field{right:56px!important;top:2px;}
input[type="search"] ~ .reset-field{right:56px!important;height:34px;margin:0;position:absolute;border:0;top:2px!important;overflow:visible;}
input[type="search"] ~ .reset-field:before{border-right:1px solid #d2d2d2;padding-right:15px;box-sizing:content-box;}
input[type="search"].input-emphasized ~ button{height:45px;background-size:26px;}
/*  Begin Custom File Input ***************************** */
.cInputWrap{}
.cInput{display:inline-block;margin-right:10px;width:auto;}
.cInput,
.cInput + .btn{vertical-align:top;}
.cInput .inputfile{width:0.1px;height:0.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1;}
.inputfile + label{max-width:100%;text-overflow:ellipsis;white-space:nowrap;cursor:pointer;display:block;overflow:hidden;padding:0.625rem 1.25rem;overflow:hidden;transition-duration:.3s;transition-timing-function:linear;transition-delay:0s;}
.no-js .inputfile + label{display:none;}
.inputfile:focus + label,
.inputfile.has-focus + label{outline:1px dotted #000;outline:-webkit-focus-ring-color auto 5px;}
.inputfile + label *{/* pointer-events:none; */ /* in case of FastClick lib use */}
.inputfile + label svg{width:1em;height:1em;vertical-align:middle;fill:currentColor;margin-top:-0.25em;margin-right:0.25em;}
.inputfile + label{color:#ffffff;}
.inputfile + label{border:1px solid #ccc;background-color:#fff;padding:0;border-radius:4px;overflow:hidden;}
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover{outline:none;border:1px solid #999;}
.inputfile + label span,
.inputfile + label strong{padding:7px 10px;}
.inputfile + label span{width:200px;min-height:35px;display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;vertical-align:top;color:#333333;}
.inputfile + label strong{height:35px;font-size:1.6rem;line-height:22px;font-family:'Avenir-Light';font-weight:normal;background-color:#f3f3f3;background-image:linear-gradient(to bottom, #fcfcfc 0%, #f3f3f3 100%);border-color:#ccc;border-left:1px solid #ccc;color:#333;display:inline-block;transition-duration:.3s;transition-timing-function:linear;transition-delay:0s;}
.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong{color:#333;outline-color:#ccc!important;background-image:linear-gradient(to bottom, #f3f3f3 0%, #fcfcfc 100%);opacity:1;}
@media screen and (max-width:580px){
.cInputWrap,.cInput{text-align:center;display:block;margin:0px;}
.inputfile + label strong{display:block;border:0px;border-top:1px solid #ccc;}
.cInputWrap .btn{margin-top:10px;max-width:380px;width:100%;}
}
/* Begin Form Error ***************************** */
.form-row.error .error-msg{display:block;font-size:14px;line-height:14px;font-family:'Avenir-Light';margin-top:10px;position:relative;padding-left:18px;}
.form-row.error .error-msg > [class*="fa-"]{height:14px;width:14px;position:absolute;left:0;margin-right:0;}
.form-row.error .error-msg > [class*="fa-"]:before{color:#C22A3F;font-size:14px;left:0;line-height:14px;position:absolute;vertical-align:middle;}
.form-row.error label,
.form-row.error .error-msg,
.form-row.error .checkbox,
.form-row.error .radio,
.form-row.error legend.error,
.form-row.error input,
.form-row.error textarea{color:#C22A3F;}
.form-row.error .btn-group > .btn,
.form-row.error textarea,
.form-row.error input,
.form-row.error .checkbox .skin,
.form-row.error .radio .skin{border-color:#C22A3F!important;}
.form-row.error .checkbox input:checked:not(:disabled) + .skin{background-color:#C22A3F;}
.form-row.error .radio input:checked:not(:disabled) + .skin{background-color:#C22A3F;box-shadow:0 0 0 3px #ffffff inset;}
.form-row.error.input-emphasized-field .error-msg{font-size:16px;}
.form-row.error.input-emphasized-field .error-msg > [class*="fa-"]{height:15px;width:15px;}
.form-row.error.input-emphasized-field .error-msg > [class*="fa-"]:before{font-size:15px;line-height:15px;}
/* BEGIN ALERTS.LESS ******************** */
.alert{color:#333333;display:-ms-flexbox!important;display:flex!important;margin-bottom:15px;outline:1px solid transparent;padding:0;position:relative;border:1px solid #C22A3F;}
.alert,
.form-row.error input,
.form-row.error textarea{-webkit-box-shadow:0px 0px 8px 0px rgba(194,42,63,.70);
-moz-box-shadow:0px 0px 8px 0px rgba(194,42,63,.70);
box-shadow:0px 0px 8px 0px rgba(194,42,63,.70);}
.alert .alert-error,
.alert .alert-info,
.alert .alert-warning,
.alert .alert-success{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex:0 1 60px;flex:0 1 60px;-ms-flex-pack:center;justify-content:flex-start;padding:0;min-width:60px;}
.alert-error{color:#C22A3F;}
.alert-info{background-color:#00ace9;}
.alert-warning{background-color:#ffd400;}
.alert-success{background-color:#00a222;}
.alert [class*="fa-"]{color:#C22A3F;font-size:30px;margin:0 20px;}
.alert .alert-content{border:1px solid transparent;border-left:none;padding:10px;-ms-flex:1 1 0px;flex:1 1 0;}
.alert .close{height:30px;position:absolute;right:0;top:0;width:30px;}
.alert .close:before{color:#333333;font-size:15px;font-weight:bold;margin-right:0;position:absolute;right:10px;top:10px;width:10px;height:10px;line-height:10px;text-indent:-3px;}
.alert a{color:#333333;text-decoration:underline;}
.alert a:focus{outline-color:#333333;}
.alert .close:focus{outline:1px dotted#333333;}
.alert .AL20{color:#C22A3F;font-size:1.8rem;margin:0 10px 0px 0;}
.alert p{font-size:1.4rem;margin-bottom:5px;}
.alert p:last-child{margin-bottom:0;}
.alert .standalone-link i[class*="icon-"]{font-size:20px;margin-right:5px;margin-left:0px;}
.alert ul.bullet{margin-left:0px;font-size:1.4rem;}
.alert ul.bullet li:before{background-color:#ffffff;border:2px solid #ffffff;}
@media (max-width:767px){
.alert{border-radius:0;margin:0 -15px;}
.alert + .alert{margin-top:4px;}
.alert div{padding:15px 10px;}
.alert div:first-child{border-radius:0;}
.alert .standalone-link i[class*="icon-"]{font-size:16px;}
.alert .close{height:20px;width:20px;}
.alert .close:before{right:5px;top:5px;}
.alert ul.bullet{font-size:1.2rem;}
}

/* Begin Buttons *************************** */
.btn:focus{outline:1px dotted #191919;outline-offset:-5px;}
.btn{background-color:transparent;border:none;cursor:pointer;display:inline-block;font-family:'Avenir-Light';font-size:1.6rem;font-weight:normal;height:40px;line-height:0;margin:0 7px 0px 0;max-width:450px;min-width:120px;padding:0px 18px;position:relative;text-align:center;vertical-align:middle;overflow:hidden;white-space:nowrap;transition-duration:.3s;transition-timing-function:linear;transition-delay:0s;/*box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);*/}
.btn:last-child{margin-right:0;}
.btn::-moz-focus-inner{padding:0;border:0;}
.ds2-no-colors .btn{border-color:#000;}
a.btn{vertical-align:middle;padding:20px 10px;}
a.btn [class*="fa-"]{margin-top:-50%;}
a.btn:focus,
a.btn:hover{text-decoration:none;}
.field-group + .btn{margin-left:20px;}
.btn i{margin-left:5px;}
@media (max-width: 1024px){
.field-group + .btn{margin-left:15px;}
}
.btn-primary-promo{background-color:#ea593c;background-image:linear-gradient(to bottom, #ea593c 0%, #ea593c 100%);border-color:#ea593c;color:#ffffff;}
.btn-secondary{background-color:#f2f2f2;background-image:linear-gradient(to bottom, #f2f2f2 0%, #f2f2f2 100%);color:#007e48;border-radius:3px;box-shadow:inset 0 0 0 1px #cccccc/*, 0 5px 5px -5px rgba(0, 0, 0, 0.15)*/;}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{color:#007e48;outline-color:#000000!important;opacity:0.8;}
.btn-primary-functional{background-color:#007e48 !important;background-image:linear-gradient(to bottom, #007e48 0%, #007e48 100%);border-color:#007e48 !important;color:#ffffff !important;border-radius:3px !important;}
.btn-primary-special{background-color:#F9B233;background-image:linear-gradient(to bottom, #F9B233 0%, #F9B233 100%);border-color:#F9B233;color:#ffffff!important;border-radius:3px;}
.btn-secondary-dark{background-color:#666666;background-image:linear-gradient(to bottom, #666666 0%, #666666 100%);border-color:#666666;color:#ffffff!important;border-radius:3px;}
.btn-primary-functional:hover,
.btn-primary-functional:focus,
.btn-primary-functional:active,
.btn-primary-promo:hover,
.btn-primary-promo:focus,
.btn-primary-promo:active,
.btn-primary-special:hover,
.btn-primary-special:focus,
.btn-primary-special:active,
.btn-secondary-dark:hover,
.btn-secondary-dark:focus,
.btn-secondary-dark:active{color:#ffffff;outline-color:#ffffff!important;opacity:0.8;}
.btn-clear{outline-color:transparent!important;background:transparent!important;border-color:transparent!important;text-decoration:none;font-weight:normal;box-shadow:none;color:#000;}
.btn-clear:focus,
.btn-clear:hover{text-decoration:underline!important;}
.btn-clear:focus{outline:1px dotted #191919}
.isIE .btn:focus,
.isIE .btn:active,
.isIE .btn.active{outline:none!important;text-decoration:none!important;}
.isIE.ds2-no-colors .btn:active:not(:focus):after,
.isIE.ds2-no-colors .btn.active:not(:focus):after{border:1px solid #191919;}
.isIE .btn:focus:after,
.isIE .btn:active:after,
.isIE .btn.active:after{display:block;content:"";position:absolute;top:4px;left:4px;right:4px;bottom:4px;border:1px dotted #000;}
.isIE .btn.btn-primary-promo:focus:after,
.isIE .btn.btn-primary-special:focus:after,
.isIE .btn.btn-primary-functional:focus:after{border:1px dotted #fff;}
.btn.disabled,
.btn[disabled],
.btn[disabled="disabled"],
.btn-circular[disabled] .btn,
.btn-circular.disabled .btn{background-image:none;background-color:#cccccc;box-shadow:none;cursor:not-allowed;color:#767676;border-color:transparent;outline:0!important;}
.btn.disabled:hover,
.btn[disabled]:hover,
.btn[disabled="disabled"]:hover,
.btn-circular[disabled] .btn:hover,
.btn-circular.disabled .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn[disabled="disabled"]:focus,
.btn-circular[disabled] .btn:focus,
.btn-circular.disabled .btn:focus{outline:none!important;}
.btn.disabled[data-toggle],
.btn.disabled[data-loading-text]{color:#5a5a5a!important;}
.btn-medium{height:35px;padding:12px 19px 11px 18px;font-size:1.4rem;}
a.btn-medium{padding:18px 19px 17px 18px;}
.btn-small{height:30px;padding:0px 19px 0px 18px !important;font-size:1.4rem!important;}
a.btn-small{padding:14px 19px 13px 18px;}
.btn-fullwidth{width:100%;}
@media (min-width:1025px){
.btn-fullwidth-lg{width:100%;}
}
@media (min-width:769px) and (max-width:1024px){
.btn-fullwidth-md{width:100%;}
}
@media (min-width:481px) and (max-width:768px){
.btn-fullwidth-sm{width:100%;}
}
@media (max-width:480px){
.btn-fullwidth-xsm{width:100%;}
}
*:not(.btn-circular) > .btn > i[class*="icon-"]{margin-top:-20px;margin-bottom:-20px;}
.cta-button-group{background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewport%3D%220%200%201%201%22%20style%3D%22width%3A100%25%3B%20height%3A1px%3B%22%3E%3Cstyle%3Eline%7Bstroke%3A%23959595%3Bstroke-width%3A2%3B%7D%3C%2Fstyle%3E%3Cline%20y2%3D%221%22%20y1%3D%221%22%20x1%3D%221%22%20x2%3D%22100%25%22%20stroke-dasharray%3D%221%2C%203%22%2F%3E%3C%2Fsvg%3E")!important;-ms-flex-align:baseline;align-items:baseline;background-position:0 -1px;background-repeat:repeat-x;display:-ms-flexbox;display:flex;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-ms-flex-pack:start;justify-content:flex-start;padding:20px 0 10px;width:100%;}
.cta-button-group .btn{margin-right:0;}
.cta-button-group .btn + .btn{margin-right:20px;}
.cta-button-group.nodots{background-image:none!important;}
.cta-button-group.align-left{-ms-flex-pack:end;justify-content:flex-end;}
.cta-button-group.centered{-ms-flex-pack:center;justify-content:center;}
.cta-button-group.nowrap{display:-ms-flexbox;display:flex;}
.cta-button-group.nowrap .btn:last-child{margin-right:20px!important;}
@media (max-width:768px){
.cta-button-group{display:block;text-align:center;}
.cta-button-group > .btn{display:block;float:none;width:100%;margin-left:auto!important;margin-right:auto!important;margin-bottom:10px;}
.cta-button-group > .btn + .btn{margin-bottom:10px;}
.cta-button-group > .btn + .btn:last-child{margin-bottom:0px;}
.cta-button-group.nowrap .btn:last-child{margin-right:15px!important;}
}
.btn-group{border-radius:100px;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:10px;max-width:350px;position:relative;vertical-align:middle;width:auto;/*box-shadow:0 5px 5px -5px rgba(0, 0, 0, 0.15);*/}
.btn-group.btn-fullwidth > .btn{-ms-flex:1;flex:1;}
.btn-group > .btn{box-shadow:inset 0 0 0 1px #d2d2d2;border-radius:0px;display:inline-block;-ms-flex:1;flex:1;position:relative;margin-right:-1px;margin-bottom:0;padding-left:0;padding-right:0;}
/*  Begin Tables ***************************** */
.tableWrap{overflow:auto;margin-bottom:20px;}.tableWrap .basicTable{margin-bottom:0px;min-width:580px;max-width:100%;}
.basicTable{border-bottom:1px solid #ccc;background-color:transparent;border-spacing:0;width:100%;margin-bottom:20px;text-align:left;table-layout:fixed;word-break:break-all;font-size:1.6rem;}
table.basicTable th{font-family:'Avenir-Medium';font-size:1.6rem;font-weight:normal;border-bottom:1px solid #ccc;}
table.basicTable th,
table.basicTable td{padding:10px;vertical-align:top;}
table.basicTable th:last-child,
table.basicTable td:last-child{text-align:right;}
table.basicTable td{border-top:1px solid #ccc;}
table.basicTable.headBg thead tr{background-color:#f2f2f2;}
table.basicTable.stripped tbody tr:nth-child(even),
table.basicTable.bordered tbody tr.headBg{background-color:#f2f2f2;}
table.basicTable.bordered{border:1px solid #ccc;}table table.basicTable.bordered{border-top:0px;}
table.basicTable.bordered td,
table.basicTable.bordered th{border-left:1px solid #ccc;}
table.basicTable.bordered td:first-child,
table.basicTable.bordered th:first-child{border-left:0px;}

/*  BEGIN DropTabs ***************************** */
.droptabs{margin-bottom:0;padding-left:0;list-style:none;width:100%;font-size:1.5rem;}
.droptabs>li>a{position:relative;display:block;padding:15px 20px;transition:all 0.0s ease-in-out;}
.droptabs>li>a:hover,.droptabs>li>a:focus{text-decoration:none;color:#333333;}
.droptabs>li.disabled>a{color:#999;}
.droptabs>li.disabled>a:hover,.droptabs>li.disabled>a:focus{color:#999;text-decoration:none;background-color:transparent;cursor:not-allowed;}
.droptabs .open>a,.droptabs .open>a:hover,.droptabs .open>a:focus{}
.droptabs .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;}
.droptabs>li>a>img{max-width:none;}
.droptabs{width:100%;}
.droptabs>li{float:left;}
.droptabs>li>a{color:#333333;position:relative;}
.droptabs>li.dropdown>a,
.droptabs>li>a:hover{color:#000000;}
.droptabs>li.active>a,.subNav_tabs .droptabs>li.active>a:hover,
.droptabs>li.active>a:focus{cursor:default;color:#000000;opacity:1;font-family:'Avenir-Light';outline:0px;}
.droptabs>li>a:after{position:absolute;width:40px;content:"";height:2px;background-color:#007e48;bottom:0px;left:50%;margin-left:-20px;opacity:0;transition:all 0.0s ease-in-out;}
.droptabs>li.active>a:after{opacity:1;}
.droptabs:after{clear:both;content:'';display:table;}
.droptabs>li{position:relative;display:block;}
.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:0px 0 0;list-style:none;font-size:15px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box;}
.dropdown-menu.pull-right{right:0;left:auto;}
.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{text-decoration:none;color:#333333;background-color:#f2f2f2;}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{color:#ffffff;text-decoration:none;outline:0;background-color:#999;}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus{color:#999;}
.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);cursor:not-allowed;}
.open>.dropdown-menu{display:block;}
.open>a{outline:0;}
.dropdown-menu-right{left:auto;right:0;}
.dropdown-menu-left{left:0;right:auto;}
.dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.42857143;color:#999;}
.dropdown-backdrop{position:fixed;left:0;right:0;bottom:0;top:0;z-index:990;}
.pull-right>.dropdown-menu{right:3px;left:auto;}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid;content:"";}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px;}
.pull-right{float:right!important;}
.dropdown [class*="fa-"]{margin-left:5px;}
.caret{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid;display:inline-block;height:0;margin-left:2px;vertical-align:middle;width:0;}
.tab-content{display:block;padding:15px 10px;margin:0px;}
.tab-pane{padding:0px;display:none;}
.tab-pane.active{display:block;}
/*  Begin PopUpCSS ***************************** */
.pop_box{background-color:#fff;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);display:block;margin:0 auto;width:100%;min-height:20px;padding:0px;position:relative;overflow:hidden;color:#333;}
.largePop{max-width:1024px;}.mediumPop{max-width:720px;}.alertPop,.smallPop{max-width:420px;}
.pop_box_container{padding:20px;}
.pop_box .content_area{border:0px;padding:0px 0px 10px;}
.modal-header{-ms-flex-align:center;align-items:center;min-height:60px;overflow:hidden;padding:20px 46px 20px 20px !important;position:relative;border: none !important;}
.modal-header > h3{color:#333;}
.modal-body{-webkit-overflow-scrolling:touch;position:relative;padding:20px 30px;width:auto;}
.modal-header + .modal-body{padding:0px 20px 20px;}
.modal-footer{background-color:#fff;width:100%;padding:0 20px 10px;border-radius:0;position:absolute;bottom:0;}
:not(.modal-docked) .modal-footer,
.modal-landscape .modal-footer{position:relative;}
[class*="modal-"]{width:100%;}
.mfp-bg{background:none repeat scroll 0 0 #000;height:100%;left:0;opacity:0.8;overflow:hidden;position:fixed;top:0;width:100%;z-index:1040;}
.mfp-wrap{height:100%;left:0;outline:0 none!important;position:fixed;top:0;width:100%;z-index:1041;}
.mfp-container{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;/* 2 */box-sizing:border-box;height:100%;left:0;padding:0 8px;position:absolute;text-align:center;top:0;width:100%;}
.mfp-container:before{content:"";display:inline-block;height:100%;vertical-align:middle;}
.mfp-align-top .mfp-container:before{display:none;}
.mfp-content{display:inline-block;margin:0 auto;position:relative;text-align:left;vertical-align:middle;z-index:1050;}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{cursor:auto;/*width: 100%;*/}
.mfp-ajax-cur{cursor:progress;}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:zoom-out;}
.mfp-zoom{cursor:zoom-in;}
.mfp-auto-cursor .mfp-content{cursor:auto; width:100%;}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-moz-user-select:none;}
.mfp-loading.mfp-figure{display:none;}
.mfp-hide{display:none!important;}
.mfp-preloader{color:#CCCCCC;left:8px;margin-top:-0.8em;position:absolute;right:8px;text-align:center;top:50%;width:auto;z-index:100002;}
.mfp-preloader a{color:#CCCCCC;}
.mfp-preloader a:hover{color:#FFFFFF;}
.mfp-s-ready .mfp-preloader{display:none;}
.mfp-s-error .mfp-content{display:none;}
button.mfp-close,button.mfp-arrow{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);border:0 none;box-shadow:none;cursor:pointer;display:block;outline:0 none;overflow:visible;padding:0;z-index:100004;}
button::-moz-focus-inner{border:0 none;padding:0;}
.mfp-close{color:#333;font-family:Arial,Baskerville,monospace;font-size:28px;font-style:normal;height:44px;line-height:48px;padding:0 0 18px 10px;position:absolute;right:0px;text-align:center;text-decoration:none;top:0px;width:44px;}
.mfp-close:hover,.mfp-close:focus{color:#c69f09;}
.mfp-close:active{top:1px;}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#FFFFFF;padding-right:6px;right:-6px;text-align:right;width:100%;}
.mfp-counter{color:#CCCCCC;font-size:12px;line-height:18px;position:absolute;right:0;top:0;}
.mfp-arrow{height:110px;margin:-55px 0 0;opacity:0.65;padding:0;position:absolute;top:50%;width:90px;}
.mfp-arrow:active{margin-top:-54px;}
.mfp-arrow:hover,.mfp-arrow:focus{opacity:1;}
.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a{border:medium inset rgba(0, 0, 0, 0);content:"";display:block;height:0;left:0;margin-left:35px;margin-top:35px;position:absolute;top:0;width:0;}
.mfp-arrow:after,.mfp-arrow .mfp-a{border-bottom-width:13px;border-top-width:13px;top:8px;}
.mfp-arrow:before,.mfp-arrow .mfp-b{border-bottom-width:21px;border-top-width:21px;}
.mfp-arrow-left{left:0;}
.mfp-arrow-left:after,.mfp-arrow-left .mfp-a{border-right:17px solid #FFFFFF;margin-left:31px;}
.mfp-arrow-left:before,.mfp-arrow-left .mfp-b{border-right:27px solid #3F3F3F;margin-left:25px;}
.mfp-arrow-right{right:0;}
.mfp-arrow-right:after,.mfp-arrow-right .mfp-a{border-left:17px solid #FFFFFF;margin-left:39px;}
.mfp-arrow-right:before,.mfp-arrow-right .mfp-b{border-left:27px solid #3F3F3F;}
.mfp-iframe-holder{padding-bottom:40px;padding-top:40px;}
.mfp-iframe-holder .mfp-content{line-height:0;max-width:900px;width:100%;}
.mfp-iframe-holder .mfp-close{top:-40px;}
.mfp-iframe-scaler{height:0;overflow:hidden;padding-top:56.25%;width:100%;}
.mfp-iframe-scaler iframe{background:none repeat scroll 0 0 #000000;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);display:block;height:100%;left:0;position:absolute;top:0;width:100%;}
img.mfp-img{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;/* 2 */box-sizing:border-box;display:block;height:auto;line-height:0;margin:0 auto;max-width:100%;padding:40px 0;width:auto;}
.mfp-figure{line-height:0;}
.mfp-figure:after{background:none repeat scroll 0 0 #444444;bottom:40px;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);content:"";display:block;height:auto;left:0;position:absolute;right:0;top:40px;width:auto;z-index:-1;}
.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px;}
.mfp-bottom-bar{cursor:auto;left:0;margin-top:-36px;position:absolute;top:100%;width:100%;}
.mfp-title{color:#F3F3F3;line-height:18px;padding-right:36px;text-align:left;word-wrap:break-word;}
.mfp-image-holder .mfp-content{max-width:100%;}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer;}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px){
.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0;}.mfp-img-mobile img.mfp-img{padding:0;}.mfp-img-mobile .mfp-figure{}.mfp-img-mobile .mfp-figure:after{bottom:0;top:0;}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px;}.mfp-img-mobile .mfp-bottom-bar{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;/* 2 */box-sizing:border-box;background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);bottom:0;margin:0;padding:3px 5px;position:fixed;top:auto;}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0;}.mfp-img-mobile .mfp-counter{right:5px;top:3px;}.mfp-img-mobile .mfp-close{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);height:35px;line-height:35px;padding:0;position:fixed;right:0;text-align:center;top:0;width:35px;}
}
@media all and (max-width: 900px){
.mfp-arrow{transform:scale(0.75);}.mfp-arrow-left{transform-origin:0 50% 0;}.mfp-arrow-right{transform-origin:100% 50% 0;}.mfp-container{padding-left:6px;padding-right:6px;}
}
.mfp-ie7 .mfp-img{padding:0;}.mfp-ie7 .mfp-bottom-bar{left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px;width:600px;}.mfp-ie7 .mfp-container{padding:0;}.mfp-ie7 .mfp-content{padding-top:44px;}.mfp-ie7 .mfp-close{padding-top:0;right:0;top:0;}
/*  Begin Progress Bar ***************************** */
.progress{background-color:#f1f4f4;height:15px;margin:.7rem 0;min-width:215px;outline:1px solid transparent;overflow:hidden;padding:0;position:relative;border:1px solid #ccc;border-radius:6px;}
.progress .bar{transition:width 5000ms;background-color:#007e48;display:-ms-flexbox;display:flex;height:15px;width:0;}
/* Begin Close Buttons ******************** */
.close{float:right;background:none;width:34px;height:34px;padding:0;overflow:hidden;display:inline-block;}button.close{border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.corner-button{border-color:#fff #fff transparent transparent;border-style:solid;border-width:24px;height:0;position:absolute;right:0;top:0;width:0;}.corner-button .close:before{color:#333333;display:block;font-size:20px;height:auto;position:absolute;right:10px;top:14px;width:auto;}.corner-button .close{float:none;height:48px;margin:0 !important;position:absolute;right:-24px;top:-24px;width:48px;}.corner-button .close:focus{outline:1px dotted #191919;}.ds2-no-colors .corner-button{border-width:0;}.ds2-no-colors .corner-button .close{border:none;top:0;right:0;}.ds2-no-colors .corner-button .close:before{top:14px;right:6px;}
/* Begin Margins ******************** */
.margin-0{margin:0}.marginTop-0{margin-top:0}.marginRight-0{margin-right:0}.marginBottom-0{margin-bottom:0}.marginLeft-0{margin-left:0}.marginTopBottom-0{margin-top:0;margin-bottom:0}.marginLeftRight-0{margin-left:0;margin-right:0}.margin-xxs{margin:5px}.marginTop-xxs{margin-top:5px}.marginRight-xxs{margin-right:5px}.marginBottom-xxs{margin-bottom:5px}.marginLeft-xxs{margin-left:5px}.marginTopBottom-xxs{margin-top:5px;margin-bottom:5px}.marginLeftRight-xxs{margin-left:5px;margin-right:5px}.margin-xs{margin:10px}.marginTop-xs{margin-top:10px}.marginRight-xs{margin-right:10px}.marginBottom-xs{margin-bottom:10px}.marginLeft-xs{margin-left:10px}.marginTopBottom-xs{margin-top:10px;margin-bottom:10px}.marginLeftRight-xs{margin-left:10px;margin-right:10px}.margin-s{margin:15px}.marginTop-s{margin-top:15px}.marginRight-s{margin-right:15px}.marginBottom-s{margin-bottom:15px}.marginLeft-s{margin-left:15px}.marginTopBottom-s{margin-top:15px;margin-bottom:15px}.marginLeftRight-s{margin-left:15px;margin-right:15px}.margin-m{margin:20px}.marginTop-m{margin-top:20px}.marginRight-m{margin-right:20px}.marginBottom-m{margin-bottom:20px}.marginLeft-m{margin-left:20px}.marginTopBottom-m{margin-top:20px;margin-bottom:20px}.marginLeftRight-m{margin-left:20px;margin-right:20px}.margin-l{margin:40px}.marginTop-l{margin-top:40px}.marginRight-l{margin-right:40px}.marginBottom-l{margin-bottom:40px}.marginLeft-l{margin-left:40px}.marginTopBottom-l{margin-top:40px;margin-bottom:40px}.marginLeftRight-l{margin-left:40px;margin-right:40px}.margin-xl{margin:80px}.marginTop-xl{margin-top:80px}.marginRight-xl{margin-right:80px}.marginBottom-xl{margin-bottom:80px}.marginLeft-xl{margin-left:80px}.marginTopBottom-xl{margin-top:80px;margin-bottom:80px}.marginLeftRight-xl{margin-left:80px;margin-right:80px}
/* Begin Paddings ******************** */
.padding-0{padding:0}.paddingTop-0{padding-top:0}.paddingRight-0{padding-right:0}.paddingBottom-0{padding-bottom:0}.paddingLeft-0{padding-left:0}.paddingTopBottom-0{padding-top:0;padding-bottom:0}.paddingLeftRight-0{padding-left:0;padding-right:0}.padding-xxs{padding:5px}.paddingTop-xxs{padding-top:5px}.paddingRight-xxs{padding-right:5px}.paddingBottom-xxs{padding-bottom:5px}.paddingLeft-xxs{padding-left:5px}.paddingTopBottom-xxs{padding-top:5px;padding-bottom:5px}.paddingLeftRight-xxs{padding-left:5px;padding-right:5px}.padding-xs{padding:10px}.paddingTop-xs{padding-top:10px}.paddingRight-xs{padding-right:10px}.paddingBottom-xs{padding-bottom:10px}.paddingLeft-xs{padding-left:10px}.paddingTopBottom-xs{padding-top:10px;padding-bottom:10px}.paddingLeftRight-xs{padding-left:10px;padding-right:10px}.padding-s{padding:15px}.paddingTop-s{padding-top:15px}.paddingRight-s{padding-right:15px}.paddingBottom-s{padding-bottom:15px}.paddingLeft-s{padding-left:15px}.paddingTopBottom-s{padding-top:15px;padding-bottom:15px}.paddingLeftRight-s{padding-left:15px;padding-right:15px}.padding-m{padding:20px}.paddingTop-m{padding-top:20px}.paddingRight-m{padding-right:20px}.paddingBottom-m{padding-bottom:20px}.paddingLeft-m{padding-left:20px}.paddingTopBottom-m{padding-top:20px;padding-bottom:20px}.paddingLeftRight-m{padding-left:20px;padding-right:20px}.padding-l{padding:40px}.paddingTop-l{padding-top:40px}.paddingRight-l{padding-right:40px}.paddingBottom-l{padding-bottom:40px}.paddingLeft-l{padding-left:40px}.paddingTopBottom-l{padding-top:40px;padding-bottom:40px}.paddingLeftRight-l{padding-left:40px;padding-right:40px}.padding-xl{padding:80px}.paddingTop-xl{padding-top:80px}.paddingRight-xl{padding-right:80px}.paddingBottom-xl{padding-bottom:80px}.paddingLeft-xl{padding-left:80px}.paddingTopBottom-xl{padding-top:80px;padding-bottom:80px}.paddingLeftRight-xl{padding-left:80px;padding-right:80px}
/* BEGIN Datepicker / Fonts ***************************** */
.ui-datepicker-trigger:before{content:"\f073";}
.ui-datepicker-trigger{width:100%;height:35px;position:absolute;right:0;top:0;background:transparent;border:none;}
.ui-datepicker-trigger img{display:none;width:0px;height:0px;}
.ui-datepicker-trigger:before{display:block;right:0;top:0;width:40px;min-width:40px;color:#666;height:35px;position:absolute;font-size:2.0rem;line-height:1.8;margin:0px;font-family:'Font Awesome 5 Free';font-weight:900;}
input.hasDatepicker:focus + .ui-datepicker-trigger:before{color:#333!important;}
.disabled .ui-datepicker-trigger{cursor:not-allowed;}
.disabled .ui-datepicker-trigger:before{color:#999;}

.lds-ring {position:fixed;z-index:999;width:50px;height:50px;overflow:visible;margin:auto;top:0;left:0;bottom:0;right:0px;}
.lds-ring:before{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.3);}
  .lds-ring div{box-sizing:border-box;display:block;position:absolute;width:45px;height:45px;margin:6px;border:6px solid #007e48;border-radius:50%;animation:lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color:#007e48 transparent transparent transparent;}
  .lds-ring div:nth-child(1){animation-delay:-0.45s;}
  .lds-ring div:nth-child(2) {animation-delay:-0.3s;}
  .lds-ring div:nth-child(3) {animation-delay:-0.15s;}
  @keyframes lds-ring{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
  }
  