mat-slider {
    width: 200px;
  }
  .slider-nav{
  display: grid;
  grid-template-columns: 3.75fr 0.10fr;
  }
  .input{
    width: 30px;
    border-radius: 0.25rem;
    font-size: 13px;
    margin-top: 10px;
    
  }
  
  .container{
    padding: 0px 0px 0px 0px !important;
    position: relative;
    display:flow-root;
    align-items: center;
    justify-content: center;
    // width: 250px;
    //border: 1px solid #CCC;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    //color: #121621;
    //border-radius: 5px;
    min-width: 100px !important;
    min-height: 100px !important;
    height:calc(100vh - 100px);// 927px;
    overflow-y: none;
    //margin-left: 15px;
    user-select: none;
  }
  .dragable-row  {
    background-color: #559000;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 160px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cdk-drag-preview {   box-sizing: border-box;   border-radius: 4px;   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }   .cdk-drag-placeholder {   opacity: 0; }   .cdk-drag-animating {   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }
  .divier{
    height: 5px;
  }
  .tab-header{
    width: 294px;
      height: 38px;
      text-align: center;
      background: #005996;
      line-height: 2;
      padding: 2px;
      font-size: 16px;
      font-weight: 500;
      color: var(--White, #FFF);
      text-align: center;
      font-family: "Roboto";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px; /* 285.714% */
  }
  
  .main-dmo-heading{
    color: var(--Dark-Black, #000);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
  }

::ng-deep .mat-tab-labels{
  display: flex !important;
  justify-content: space-between;
  
}



.main-drag-side-menu{
  overflow-y: auto;
  overflow-x: hidden;
    max-height: 470px;
}


.continer-header{
  display: flex;
  justify-content: space-between;
  gap: 0;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Roboto";
  color: black;
  padding: 10px;
}
.continer-heading{
  color: var(--crm-color-2, #212529);
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 10px;
}

.continer-Name{
  color: var(--crm-color-2, #212529);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

.main-heading{
  color: var(--Dark-Black, #000);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  padding: 0 15px;
}

.range-box{
  display: flex ;
  align-items: center;
}
.settings-range{
  display: flex;
  gap: 10px
}
.range-line{
  width: 78px;
  height: 10px;
}
.range-counter input{
  display: flex ;
      width: 37px;
      height: 30px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 2px;
      border: 1px solid var(--border-color, #CCC);
      background: var(--White, #FFF);
}

input[type="range"] {
  accent-color: #4A5CB3; 
}



.Search-Dmo{
  width: 260px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  background: var(--Shades-White, #FFF);
  padding-left: 40px;
  text-indent: 5px;
}

.Search-Dmo::placeholder{
  color: #333;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 20px;
}
.searching-main-box{
  position: relative; 
  display: inline-block;
  margin: 13px !important;
  
}

.search-icon{
  position: absolute;
  top: 41%;
  left: 10px;
  transform: translateY(-50%);
}
.break-line-section{
  width: 300px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--border-color, #CCC);
  margin-top: 0px;
  margin-bottom: 0px;
}


.menus-main{
  display: flex ;
  gap: 5px;
  padding:7px;
  border-left: 2px solid #e4d2d2;
  background: #f5f5f5;;
  border-radius: 0px 5px 5px 0px;
  justify-content: center;
}

.rows-container {
display: flex;
align-items: center;
justify-content: space-between;
width: 260px;
height: 40px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin: 11px;
border-radius: 5px;
border: 1px solid var(--border-color, #CCC);
background: #FFF;
}

.rows-content {
display: flex;
align-items: center;
padding: 12px;
gap: 8px;
}
.icons-main{
display: flex;
flex-direction: column;
gap: 3px;
}

.icons {
width: 33px;
height: 7px;
background-color: #d3d3d3;
border-radius: 2px;
margin-right: 8px;
}

.texts {
color: #333;
font-size: 14px;
font-weight: 400;
}

.menus {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
}

.menu-dots {
width: 6px;
height: 6px;
// background-color: #000;
// border-radius: 50%;
margin: 1px 0;
}
.menus-box{
  width: 38px;
    height: 38px;
    right: 1px;
    top: 1px;
    border-radius: 0px 5px 5px 0px;
    background: rgba(204, 204, 204, 0.20);
}