:host ::ng-deep .mat-radio-container{
  height: 12px;
  width: 12px;
}
:host ::ng-deep .mat-radio-outer-circle{
  height: 12px;
  width: 12px;
  border-width: 1px;
}
:host ::ng-deep .mat-radio-inner-circle{
  height: 12px;
  width: 12px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple{
 visibility: hidden;
}
:host ::ng-deep .mat-radio-label{
  font-size: 12px;
}
mat-accordion, mat-expansion-panel {
  box-shadow: unset;
  background: none;
  border-radius: 0;
  margin-bottom: 2rem;
}
::ng-deep table thead tr {
  height:30px;
  font-size: 10px;
  font-weight: bold;
}

::ng-deep table thead td {
  border: 1px solid #dee2e6;
  margin-bottom: 10px;
 }

mat-expansion-panel {
  border-top: 1px solid #ccc;
  overflow: unset;

}
.mat-expansion-panel-header{
  height: 30px;
}
.mat-expansion-panel-header.mat-expanded
{
  height: 30px;
}

::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0;
}

 mat-expansion-panel-header {
 padding: 0px 1px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
table.basicTable th {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 1.9;
}

.btn.btn-primary.btn-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 6px 12px; /* Adjusted padding for uniformity */
  gap: 10px;
  height: 40px;
  width: 130px;
}

.btn.btn-primary.btn-sm[type="submit"] {
  background-color: #EB583B; /* Primary color for submit */
  color: white;
  border: none;
}
.actions{
  display: flex;
  gap: 10px;
.btn-sm[type="button"] {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 130px;
  background-color: #f6f6f6; /* Lighter background for cancel */
  color: #333; /* Text color for cancel */
  border: 1px solid #ccc;
  cursor: pointer;
}
}

table th,
table td {
  color: #4D4D51;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
