<div class="popup">
  <div class="popup__header">
    <h2 *ngIf="newObject">New {{title}}</h2>
    <h2 *ngIf="!newObject">{{title}} Details</h2>
    <span class="popup__close"><i class="fas fa-times-circle fa-fw" (click)="ref.close()"></i></span>
  </div>
  <hr>
  
  <form [formGroup]="form">
    <div class="double-column">
      <ng-container *ngFor="let control of controls">
        <app-object-control
          *ngIf="control.show | async"
          [config]="control"
          [parentForm]="form"
          [class]="control.class"
        ></app-object-control>
      </ng-container>

      <div class="span-12" *ngIf="dmogSharing">
        <div class="double-column" style="margin: 0">
          <label class="span-6" for="">Available Cards</label>
          <label class="span-6" for="">Selected Cards</label>
        </div>
        
        <app-association
          [items]="allDmogs"
          [associatedItems]="associatedSharedItems"
          [displayWith]="displayShare"
          [uniqueWith]="uniqueShare"
          [checkAll]="false"
          checkBy="selected"
          disableBy="disabled"
          [shouldAdd]="shouldAdd"
          (add)="onShareAdd($event)"
          (remove)="onShareRemove($event)"
          (reorder)="onShareReorder($event)"
          (itemRemoved)="onItemRemoved($event)"
          [canDelete]="true"
        >
        </app-association>
      </div>

    </div>
  
    <div class="popup__actions">
      <button class="btn btn-light btn-sm" type="button" (click)="onCancel()">Cancel</button>
      <button class="btn btn-primary btn-sm" type="submit" (click)="onSubmit()" *ngIf="!parent.root.published">
        <ng-container *ngIf="newObject">Create</ng-container>
        <ng-container *ngIf="!newObject">Update</ng-container> 
      </button>
    </div>
  
  </form>
</div>
