mat-slider {
    width: 200px;
  }
  .slider-nav{
  display: grid;
  grid-template-columns: 3.75fr 0.10fr;
  }
  .input{
    width: 30px;
    border-radius: 0.25rem;
    font-size: 13px;
    margin-top: 10px;
    
  }
  
  .container{
    position: relative;
    display:flow-root;
    align-items: center;
    justify-content: center;
  
    border: solid 1px #121621;
    color: #121621;
    border-radius: 5px;
    min-width: 100px !important;
    min-height: 100px !important;
    height: 100%;
    overflow-y: overlay;
  }
  .dragable-row  {
    background-color: #559000;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 160px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cdk-drag-preview {   box-sizing: border-box;   border-radius: 4px;   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }   .cdk-drag-placeholder {   opacity: 0; }   .cdk-drag-animating {   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }
  .divier{
    height: 5px;
  }
  
  .contextMenuContainer {
    /* width: 100px; */
    /* background: #559000; */
    /* color: #fff; */
    height: 250px;
    overflow: auto;
    display: flex;
    position: fixed;
    border-radius: 5px;
    transform-origin: top left;
    z-index: 10000;
  }
  
    .contextMenuContainer.visible {
      transition: transform 200ms ease-in-out;
    }
  
  .menu-link {
    cursor: pointer;
    height: 23px;
    background: #559000;
    color: #fff;
    font-size: 11px;
  /*  
    border-radius: 5px;
    padding: 2px 6px; */
    font-family: "Museo Sans", sans-serif;
  }
  
  .item-action {
      float: right;
      z-index: 1001;
      margin: 2px 2px 0 0;
      border: 1px solid #ccc;
      min-width: 30px;
      font-size: 13px;
      text-align: center;
  }


  .form-view {
    position: relative;
  }
  
  .leftcol {
    min-height: 550px;
    float: left;
    padding: 0px;
    position: sticky;
    top: 0;
  }
  
  .leftlayout {
    height: 30px;
    border: 1px solid #ddd;
    margin-left: 7px;
    padding: 4px;
    font-size: 13px;
    margin-right: 7px;
  }
  
  .leftlayoutdmotyp {
    height: 415px;
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 6px;
    font-size: 15px;
  }
  
  .leftlayout1 {
    height: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
  }
  
  .formcomponents {
   
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;
     
  }
.formcomponents-full-width{
  max-height:calc(88vh - 300px);
  margin-right: 10px;
}


.formcomponents-half-width {
  max-height: calc(86vh - 300px);
  margin-right: 10px;
}

.formcomponents-alt-height {
  max-height: calc(100vh - 500px);
  margin-right: 10px;
}


  div.scroll-list {
    overflow: auto;
    max-height: 70vh;
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .list-group {
    li {
      font-size: 12px !important;
      padding: 7px !important;
      cursor: pointer;
      border: 1px solid lightgrey;
    }
  }
  
  .formarea {
    visibility: visible;
    position: relative;
    min-height: 450px;
    padding: 10px;
    border: dotted 2px #e8e8e8;
    float: right;
  }
  
  
  .col {
    float: left;
  }
  
  .alert {
    border-radius: 0;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 12px;
  }
  
  .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin: 10px 20px;
  }
  
  .dmo-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
    & > * {
      align-self: self-start;
    }
    .span-2 {
      grid-column: span 2;
    }
  }
  
  .cdk-drop-list:not(#form-controls) {
    border: 2px dotted #e8e8e8;
    transform: translate3d(0,0,0);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    transform: translate3d(0,0,0);
  }
  
  .drag-list-item:last-child {
    border: none;
  }
  
  .drag-list-item {
    display: flex;
    align-items: center;
    cursor: move;
    background: white;
    padding: 0 20px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drop-list-receiving:not(#form-controls) {
    border: #4c9e00 dotted 2px;
  }
  
  
  
  .drag-list.cdk-drop-list-dragging .drag-list-item {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    min-width: 250px;
    transform: translate3d(0,0,0);
  }
  
  .item-actions {
    background-color: #FFF;
    position: absolute;
    z-index: 999;
    right: 15px;
    top: -22px;
    display: none;
  
    &.active {
      display: block;
    }
    &.dmo-actions {
      top: 0;
    }
  }
  
  .item-action {
    float: right;
    z-index: 1001;
    margin: 2px 2px 0 0;
    border: 1px solid #ccc;
    min-width: 30px;
    font-size: 13px;
    text-align: center;
  }

  .Search-Dmo{
    width: 260px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    background: var(--Shades-White, #FFF);
    padding-left: 40px;
    text-indent: 5px;
  }

  .Search-Dmo::placeholder{
    color: #333;
    font-family: "Museo Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 20px;
  }
  .searching-main-box{
    position: relative; 
    display: inline-block
  }

  .search-icon{
    position: absolute;
    top: 41%;
    left: 10px;
    transform: translateY(-50%);
  }

  .menus-main{
    display: flex ;
    gap: 5px;
    padding:7px;
    background: #f5f5f5;;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
}

.rows-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 40px;
  padding: 0px;
  align-items: center;
  gap: 0px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}


.rows-main-contnier{
  display: flex;
  width: 240px;
  height: 40px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  margin-bottom: 10px;
  margin-top: 10px;
  }

.rows-content {
display: flex;
align-items: center;
padding: 8px;
gap: 0px;
}
.icons-main{
display: flex;
flex-direction: column;
gap: 3px;
}

.icons {
width: 33px;
height: 7px;
background-color: #d3d3d3;
border-radius: 2px;
margin-right: 8px;
}

.texts {
  color: var(--Color-2, #333);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menus {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
}

.menu-dots {
width: 6px;
height: 6px;
margin: 1px 0;
}

.menus-box{
width: 29px;
  height: 38px;
  right: 1px;
  top: 1px;
  border-radius: 0px 4px 4px 0px;
border-left: 1px solid var(--border-color, #CCC);
background: #E9ECEF;
}
.dmo-main-list{
  overflow-y: auto;
  max-height: 588px;
  overflow-x: hidden;
  width: 260px;
  margin-bottom: 10px;
}

.dmo-main-list::-webkit-scrollbar {
  width: 6px; 
align-self: stretch;
}

.dmo-main-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 3px; /* Rounded corners for the track */
}

.dmo-main-list::-webkit-scrollbar-thumb {
 
  border-radius: 3px;
background: var(--denim-24-center-channel-text, rgba(63, 67, 80, 0.24));
}

.dmo-main-list::-webkit-scrollbar-thumb:hover {
  background: var(--denim-24-center-channel-text, rgba(63, 67, 80, 0.24));
}


.formcomponents::-webkit-scrollbar {
  width: 6px; 
align-self: stretch;
}

.formcomponents::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 3px; /* Rounded corners for the track */
}

.formcomponents::-webkit-scrollbar-thumb {
  border-radius: 3px;
background: var(--denim-24-center-channel-text, rgba(63, 67, 80, 0.24));
}

.formcomponents::-webkit-scrollbar-thumb:hover {
  background: var(--denim-24-center-channel-text, rgba(63, 67, 80, 0.24));
}


